@model UserInfo
<section class="content ifram-content">
    <form class="form-horizontal" id="userForm" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label asp-for="Name" class="col-sm-3 control-label">@Html.DisplayNameFor(x => x.Name)</label>
            <div class="col-sm-8">
                <input asp-for="Name" class="form-control" />
                <input type="hidden" name="ID" value="@Model.ID" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-sm-3 control-label">@Html.DisplayNameFor(x => x.Phone)</label>
            <div class="col-sm-8">
                <input asp-for="Phone" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cornet" class="col-sm-3 control-label">@Html.DisplayNameFor(x => x.Cornet)</label>
            <div class="col-sm-8">
                <input asp-for="Cornet" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-sm-3 control-label">@Html.DisplayNameFor(x => x.Email)</label>
            <div class="col-sm-8">
                <input asp-for="Email" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QQ" class="col-sm-3 control-label">@Html.DisplayNameFor(x => x.QQ)</label>
            <div class="col-sm-8">
                <input asp-for="QQ" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-sm-3 control-label">@Html.DisplayNameFor(x => x.Address)</label>
            <div class="col-sm-8">
                <input asp-for="Address" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Domicile" class="col-sm-3 control-label">@Html.DisplayNameFor(x => x.Domicile)</label>
            <div class="col-sm-8">
                <input asp-for="Domicile" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhotoUrl" class="col-sm-3 control-label">@Html.DisplayNameFor(x => x.PhotoUrl)</label>
            <div class="col-sm-8">
                <img src="@Model.PhotoUrl" id="photo" class="img-circle" style="height:100px;width:auto;margin:5px;" />
                <input type="file" name="PhotoData" id="PhotoData" class="exampleInputFile" />
                <input type="hidden" name="PhotoUrl" value="@Model.PhotoUrl" />
            </div>
        </div>
    </form>
    <div style="margin:0 auto;text-align:center">
        <button type="button" class="btn btn-danger modelSub" onclick="submit()">保 存</button>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        imageUpdatePreview('PhotoData', 'photo');
    }
    );
    function submit() {
        $("#userForm").ajaxSubmit({
            url: '/user/save',
            success: function () {
                modelMessage('保存成功');
                window.parent.reloadThisPage();
            }
        });
    }
</script>
